streamlit
python-dotenv
requests
dotenv

datasets==5.0.0 
optimum==2.2.0
torch==2.5.1

torchao>=0.16.0
peft>=0.19.1
openai==2.43.0 
wandb==0.28.0 
json_repair==0.61.0

json_repair==0.61.2
locust
faker
tqdm
pydantic==2.13.4

vllm==0.6.6 
transformers==4.45.2 
numpy==1.26.4
